psycopg2-binary==2.9.9
requests==2.31.0
lxml==5.2.0
python-dotenv
fastapi
uvicorn
# crawl4ai
pydantic
asyncpg
bcrypt
python-jose
PyJWT
python-jose[cryptography]
beautifulsoup4
tldextract
python-multipart
apscheduler